<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net48" />
  <package id="SharpGen.Runtime" version="1.2.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="Vortice.Direct3D12" version="1.6.21-beta-g38f134d486" targetFramework="net48" />
  <package id="Vortice.DirectX" version="1.6.21-beta-g38f134d486" targetFramework="net48" />
  <package id="Vortice.DXGI" version="1.6.21-beta-g38f134d486" targetFramework="net48" />
  <package id="Vortice.Mathematics" version="1.2.1" targetFramework="net48" />
  <package id="Vortice.Runtime.COM" version="1.6.21-beta-g38f134d486" targetFramework="net48" />
</packages>